<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Order executors</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<h1 align="center">Order executors</h1>
<a th:href="@{/orderexecutors/create}" class="btn btn-primary btn-sm mb-3"> Add new record </a>
<table class="table" align="center">
    <thead class="thead-dark">
    <tr>
        <th>Id</th>
        <th>Order executors name</th>
        <th>Order executors phone</th>
        <th>Order executors feedback</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="ordex : ${orderExecutors}">
        <td><span th:text="${ordex.id}">Id</span></td>
        <td><span th:text="${ordex.orderExecutorName}">Order executors name</span></td>
        <td><span th:text="${ordex.orderExecutorPhone}">Order executors phone</span></td>
        <td><span th:text="${ordex.orderExecutorFeedback}">Order executors feedback</span></td>
        <td> <a th:href="@{/orderexecutors/edit/{id}(id=${ordex.id})}" class="btn btn-primary">Edit</a>
            <a th:href="@{/orderexecutors/delete/{id}(id=${ordex.id})}" class="btn btn-danger">Delete</a>
    </tr>
    </tbody>
</table>

<div th:if="${totalPages > 1}">
    <div class="row col-sm-10">
        <div class="col-sm-2">
            Total Rows: [[${totalItems}]]
        </div>
        <div class="col-sm-1">
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/orderExecutors/page/' + ${i}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span>
            </span>
        </div>
        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}" th:href="@{'/orderExecutors/page/' + ${currentPage + 1}}">Next</a>
            <span th:unless="${currentPage < totalPages}">Next</span>
        </div>

        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}" th:href="@{'/orderExecutors/page/' + ${totalPages}}">Last</a>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>