<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>typeOfGoods</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<h1 align="center">Type of goods</h1>
<p><a th:href="@{/typeofgoods/exportToExcel}" class="btn btn-primary btn-sm mb-2">Click to download to excel</a></p>
<a th:href="@{/typeofgoods/create}" class="btn btn-primary btn-sm mb-3"> Add new record </a>
<table class="table" align="center">
    <thead class="thead-dark">
    <tr>
        <th>Id</th>
        <th>Name of goods</th>
        <th>Unit</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="tog : ${typeofgoods}">
        <td><span th:text="${tog.id}">Id</span></td>
        <td><span th:text="${tog.nameOfGoods}">Name of goods</span></td>
        <td><span th:text="${tog.unit}">Unit</span></td>
        <td> <a th:href="@{/typeofgoods/edit/{id}(id=${tog.id})}" class="btn btn-primary">Edit</a>
            <a th:href="@{/typeofgoods/delete/{id}(id=${tog.id})}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<div th:if="${totalPages > 1}">
    <div class="row col-sm-10">
        <div class="col-sm-2">
            Total Rows: [[${totalItems}]]
        </div>
        <div class="col-sm-1">
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/typeofgoods/page/' + ${i}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span>
            </span>
        </div>
        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}" th:href="@{'/typeofgoods/page/' + ${currentPage + 1}}">Next</a>
            <span th:unless="${currentPage < totalPages}">Next</span>
        </div>

        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}" th:href="@{'/typeofgoods/page/' + ${totalPages}}">Last</a>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>